@{
    ViewData["Title"] = "Screen For Admin";
    Layout = "_LayoutAdmin";
}
@model AdminModel;
<h3>Màn hình của admin</h3>
<div class="row mb-2">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Danh sách chủ trọ chưa phê duyệt</h5>
            </div>
            <div class="card-body" style="height:200px; overflow-y:scroll">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tài khoản</th>
                            <th scope="col">Họ tên</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">CMTND</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Email</th>
                            <th scope="col">Kiểm duyệt</th>
                            <!--More column headings-->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model.listOwnerNotChecked)
                        {
                            <tr>
                                <td scope="row" onclick="openForm()" style="cursor:pointer">@obj.UserName</td>
                                <td scope="row">@obj.FullName</td>
                                <td scope="row">@obj.PhoneNumber</td>
                                <td scope="row">@obj.PersonNo</td>
                                <td scope="row">@obj.Address</td>
                                <td scope="row">@obj.Email</td>
                                <td scope="row">
                                    <button style="cursor:pointer" class="btn btn-success" id="acceptOwner" onclick='acceptOwner("@obj.UserId")'>Duyệt</button>
                                    <button style="cursor:pointer" class="btn btn-danger" id="deleteOwner" onclick='deleteOwner("@obj.UserId")'>Xóa</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Danh sách chủ trọ đã được phê duyệt</h5>
            </div>
            <div class="card-body" style="height:200px; overflow-y:scroll">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tài khoản</th>
                            <th scope="col">Họ tên</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">CMTND</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                            <!--More column headings-->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model.listOwnerChecked)
                        {
                            <tr>
                                <td scope="row" onclick="openForm()" style="cursor:pointer">@obj.UserName</td>
                                <td scope="row">@obj.FullName</td>
                                <td scope="row">@obj.PhoneNumber</td>
                                <td scope="row">@obj.PersonNo</td>
                                <td scope="row">@obj.Address</td>
                                <td scope="row">@obj.Email</td>
                                <td scope="row">
                                    <button style="cursor:pointer" class="btn btn-danger" id="deleteOwner" onclick='deleteOwner("@obj.UserId")'>Xóa</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<h4 class="mt-3">Các bài đăng đang chờ duyệt</h4>
<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 scrollable" style="overflow-x:auto">
    @foreach (var item in Model.listPostNotChecked)
    {
        <div class="col-md-4">
            <a class="stretched-link text-decoration-none text-dark" asp-controller="Home" asp-action="AdminPendingMotel" asp-route-idRoom="@item.idRoom">
                @{
                    await Html.RenderPartialAsync("_HorizontalCard", item);
                }
            </a>
        </div>
    }
</div>
<h4 class="mt-3">Các bài đăng đã được duyệt</h4>
<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4" style="overflow-x:auto">
    @foreach (var item in Model.listPostChecked)
    {
        <div class="col-md-4">
            <a class="stretched-link text-decoration-none text-dark" asp-controller="Home" asp-action="AdminCheckedMotel" asp-route-idRoom="@item.idRoom">
                @{
                    await Html.RenderPartialAsync("_HorizontalCard", item);
                }
            </a>
        </div>
    }
</div>

<h4 class="mt-3">Các bài đăng bị từ chối</h4>
<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4" style="overflow-x:auto">
    @foreach (var item in Model.listPostDenied)
    {
        <div class="col-md-4">
            <a class="stretched-link text-decoration-none text-dark" asp-controller="Home" asp-action="AdminRejectedMotel" asp-route-idRoom="@item.idRoom">
                @{
                    await Html.RenderPartialAsync("_HorizontalCard", item);
                }
            </a>
        </div>
    }
</div>

@{ await Html.RenderPartialAsync("_ChatBoxPartial", Model.objHost); }

<script src="~/js/adminHome.js"></script>