@{
    ViewData["Title"] = "Screen For Admin";
    Layout = "_LayoutAdmin";
}
@model RoomInfoModel;


<h4>Màn hình cho nhà trọ đang chờ kiểm duyệt</h4>
<button class="btn-success" onclick="AcceptPost()">Phê duyệt</button>
<button class="btn-danger" onclick="DenyPost()">Từ chối</button>
<div class="card">
    <div class="card-header"><h5>Thông tin</h5></div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="address">Địa chỉ</label>
                <input type="text" class="form-control" id="address" value="@Model.address.street, @Model.address.ward, @Model.address.district, @Model.address.province" readonly>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="motel-type">Kiểu phòng</label>
                    <input type="text" class="form-control" readonly value="@Model.objRoom.typeRoom" />
                </div>
                <div class="form-group col">
                    <label for="quantity">Số phòng</label>
                    <input type="text" class="form-control" readonly value="@Model.objRoom.roomNo" />
                </div>
                <div class="form-group col">
                    <label for="price">Giá phòng</label>
                    <input type="text" class="form-control" readonly value="@Model.objRoom.price (đồng)" />
                </div>
                <div class="form-group col">
                    <label for="area">Diện tích</label>
                    <input type="text" class="form-control" readonly value="@Model.objRoom.area  (m2)" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label for="bathroom">Phòng tắm</label>
                    <input type="text" class="form-control" readonly value="@Model.objRoom.bathroom" />
                </div>
                <div class="form-group col">
                    <label for="heater">Nóng lạnh</label>
                    <input type="text" class="form-control" readonly value="@Model.objRoom.heater" />
                </div>
                <div class="form-group col">
                    <label for="air-conditioner">Điều hòa</label>
                    <input type="text" class="form-control" readonly value="@Model.objRoom.airCondition" />
                </div>
                <div class="form-group col">
                    <label for="balcony">Ban công</label>
                    <input type="text" class="form-control" readonly value="@Model.objRoom.balcony" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="electic-water">Giá điện</label>
                    <input type="text" class="form-control" id="electic-water" value="@Model.objRoom.electricityPrice (đồng)" readonly />
                </div>
                <div class="form-group col">
                    <label for="electic-water">Giá nước</label>
                    <input type="text" class="form-control" id="electic-water" value="@Model.objRoom.waterPrice (đồng)" readonly />
                </div>
            </div>
            <div class="form-group">
                <label for="utilities">Tiện ích khác</label>
                <input type="text" class="form-control" id="utilities" value="@Model.objRoom.otherUtility" readonly />
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="timeDisplay">Thời gian hiển thị</label>
                    <input type="number" id="timeDisplay" class="form-control" readonly value="@Model.objRoom.timeDisplay">
                </div>
                <div class="form-group col">
                    <label for="unitTimeId">Đơn vị</label>
                    @{
                        var unitTime = "";
                        switch (Model.objRoom.unitTimeId)
                        {
                            case 1:
                                unitTime = "Ngày";
                                break;
                            case 2:
                                unitTime = "Tuần";
                                break;
                            case 3:
                                unitTime = "Tháng";
                                break;
                            case 4:
                                unitTime = "Năm";
                                break;
                        }
                    }
                    <input readonly type="text" class="form-control" id="unitTimeId" value="@unitTime">
                </div>
            </div>
            <div id="image" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @{
                        bool first = true;
                    }
                    @foreach (var item in Model.listImageRoom)
                    {
                        string imageBase64Data = Convert.ToBase64String(item.image);
                        var srcImage = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
                        <div class="carousel-item @if (first == true){<text>active</text> ; first = false;}">
                            <img class="image-carousel d-block w-100 img-fluid" src="@srcImage" alt="slide">
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#image" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#image" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            @*<div class="form-row">
                    <div class="form-group col">
                        <label for="host-name">Họ và tên chủ nhà</label>
                        <input type="text" id="host-name" class="form-control" value="Do Quang Anh" readonly>
                    </div>
                    <div class="form-group col">
                        <label for="host-name">Số điện thoại</label>
                        <input type="text" id="host-name" class="form-control" value="123" readonly>
                    </div>
                </div>*@
        </form>
    </div>
</div>
<script>
    function AcceptPost(idRoom) {
        var idRoom = @Model.objRoom.idRoom;
        var url = '/' + "Home/AcceptPost";
        debugger;
        $.getJSON(url, { idRoom: idRoom }, function (data) {
            console.log(data);
            alert("Phê duyệt thành công");
            debugger;
        });
    }
    function DenyPost(idRoom) {
        var idRoom = @Model.objRoom.idRoom;
        var url = '/' + "Home/DenyPost";
        debugger;
        $.getJSON(url, { idRoom: idRoom }, function (data) {
            console.log(data);
            alert("Từ chối bài viết thành công");
            debugger;
        });
    }
</script>