@{
    ViewData["Title"] = "Checked Motel Screen";
    Layout = "_LayoutHost";
}
@model RoomInfoModel;
<h4>Thông tin nhà trọ đã được kiểm duyệt</h4>
<div class="card-body">
    <h5>Trạng thái</h5>
    <select id="btnUpdateStatusRent" class="btn-primary" onchange="UpdateStatusRent(document.getElementById('btnUpdateStatusRent').value, '@Model.objRoom.idRoom')">
        @{
            if (Model.objRoom.statusRent == "Còn phòng")
            {
                <option value="Còn phòng" checked>Còn phòng</option>
                <option value="Hết phòng">Hết phòng</option>
            }
            if (Model.objRoom.statusRent == "Hết phòng")
            {
                <option value="Hết phòng" checked>Hết phòng</option>
                <option value="Còn phòng">Còn phòng</option>
            }
        }

    </select>
</div>

<div class="card">
    <div class="card-header"><h5>Thông tin</h5></div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="HostScreen">
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col">
                        Tiêu đề
                        <input readonly type="text" value="@Model.objRoom.title" class="form-control" id="title" placeholder="Tiêu đề">
                    </div>
                </div>
                <p>Địa chỉ</p>
                @*TODO: chuyển sang dạng select với dữ liệu sql province, district, ward, street*@
                <div class="form-row">
                    <div class="form-group col">
                        <label for="province">Tỉnh/Thành</label>
                        <select readonly id="province" class="form-control" asp-for="@Model.address.ID" asp-items="@(new SelectList(Model.address.listProvince,"idProvince","name"))">
                            <option value="@Model.objRoom.idProvince">@Model.address.province</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="district">Huyện/Quận</label>
                        <select readonly id="district" class="form-control" asp-for="@Model.address.ID" asp-items="@(new SelectList(Model.address.listDistrict,"idDistrict","name"))">
                            <option value="@Model.objRoom.idDistrict">@Model.address.district</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="ward">Xã/Phường</label>
                        <select readonly id="ward" class="form-control" asp-for="@Model.address.ID" asp-items="@(new SelectList(Model.address.listWard,"idWard","name"))">
                            <option value="@Model.objRoom.idWard">@Model.address.ward</option>
                        </select>
                    </div>
                </div>
                <div class="form-a row">
                    <div class="form-group col">
                        <label for="street">Đường</label>
                        <select readonly id="street" class="form-control" asp-for="@Model.address.ID" asp-items="@(new SelectList(Model.address.listStreet,"idStreet","name"))">
                            <option value="@Model.objRoom.idStreet">@Model.address.street</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="homeNo">Số nhà</label>
                        <input readonly type="text" value="@Model.objRoom.homeNo" class="form-control" id="homeNo">
                    </div>
                </div>

                <div class="form-group">
                    <label for="publicPlaceAround">Gần địa điểm công cộng</label>
                    <input readonly type="text" value="@Model.objRoom.publicPlaceAround" class="form-control" id="publicPlaceAround" placeholder="Gần trường học/bệnh viện/...">
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="typeRoom">Kiểu phòng</label>
                        <select readonly class="form-control" id="typeRoom">
                            <option selected>@Model.objRoom.typeRoom</option>
                            <option>Phòng trọ</option>
                            <option>Chung cư mini</option>
                            <option>Nhà nguyên căn</option>
                            <option>Chung cư nguyên căn</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="roomNo">Số lượng</label>
                        <input readonly type="number" class="form-control" id="roomNo" name="roomNo" min="1" value="@Model.objRoom.roomNo">
                    </div>
                    <div class="form-group col">
                        <label for="area">Diện tích (m2)</label>
                        <input readonly type="text" class="form-control" id="area" value="@Model.objRoom.area" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <label for="price">Giá phòng (đồng)</label>
                        <input readonly type="text" class="form-control" id="price" min="1" value="@Model.objRoom.price" />
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <label for="bathroom">Phòng tắm</label>
                        <select readonly class="form-control" id="bathroom" required>
                            <option selected>@Model.objRoom.bathroom</option>
                            <option>Khép kín</option>
                            <option>Chung chủ</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="heater">Nóng lạnh</label>
                        <select readonly class="form-control" id="heater" required>
                            <option selected>@Model.objRoom.heater</option>
                            <option>Có</option>
                            <option>Không</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="kitchen">Phòng bếp</label>
                        <select readonly class="form-control" id="kitchen" required>
                            <option selected>@Model.objRoom.kitchen</option>
                            <option>Khu bếp riêng</option>
                            <option>Khu bếp chung</option>
                            <option>Không nấu ăn</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="airCondition">Điều hòa</label>
                        <select readonly class="form-control" id="airCondition" required>
                            <option selected>@Model.objRoom.airCondition</option>
                            <option>Có</option>
                            <option>Không</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="balcony">Ban công</label>
                        <select readonly class="form-control" id="balcony" required>
                            <option selected>@Model.objRoom.balcony</option>
                            <option>Có</option>
                            <option>Không</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="electricityPrice">Giá điện</label>
                        <input readonly type="text" value="@Model.objRoom.electricityPrice" class="form-control" id="electricityPrice" placeholder="Giá điện theo (kW/h)" />
                    </div>
                    <div class="form-group col">
                        <label for="waterPrice">Giá nước</label>
                        <input readonly type="text" value="@Model.objRoom.waterPrice" class="form-control" id="waterPrice" placeholder="Giá nước theo (m3)" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="otherUtility">Tiện ích khác</label>
                    <input readonly type="text" value="@Model.objRoom.otherUtility" class="form-control" id="otherUtility" placeholder="Tủ lạnh/Máy giặt/Giường tủ" />
                </div>
                <div class="form-group">
                    <label for="image">Chọn ít nhất 3 ảnh: </label>
                    <input readonly type="file" id="image" name="files" multiple>
                </div>
                <div class="form-group">
                    <label for="description">Thông tin bổ sung</label>
                    <input readonly type="text" value="@Model.objRoom.description" class="form-control" id="description" placeholder="" />
                </div>
                <div class="time-post form-row mb-3">
                    <div class="col-5">
                        <label for="timeDisplay">Thời gian hiển thị</label>
                        <input readonly type="number" id="timeDisplay" class="form-control" name="quantity" min="1" max="11" value="@Model.objRoom.timeDisplay">
                    </div>
                    <div class="col-2">
                        <label for="unitTimeId">Đơn vị</label>
                        <select readonly class="form-control" id="unitTimeId">
                            @{
                                var unitTime = "";
                                switch (Model.objRoom.unitTimeId)
                                {
                                    case 1:
                                        unitTime = "Ngày";
                                        break;
                                    case 2:
                                        unitTime = "Tuần";
                                        break;
                                    case 3:
                                        unitTime = "Tháng";
                                        break;
                                    case 4:
                                        unitTime = "Năm";
                                        break;
                                }
                            }
                            <option value="@Model.objRoom.unitTimeId" selected>@unitTime</option>
                            <option value="1">Ngày</option>
                            <option value="2">Tuần</option>
                            <option value="3">Tháng</option>
                            <option value="4">Năm</option>
                        </select>
                    </div>
                    <div class="col-5">
                        <label for="pricePost">Giá tiền bài đăng</label>
                        @{
                            var timeDisplay = Model.objRoom.timeDisplay;
                            var unitTimeId = Model.objRoom.unitTimeId;
                            var priceUOT = 1;
                            switch (unitTimeId)
                            {
                                case 1:
                                    priceUOT = 5000;
                                    break;
                                case 2:
                                    priceUOT = 30000;
                                    break;
                                case 3:
                                    priceUOT = 100000;
                                    break;
                                case 4:
                                    priceUOT = 500000;
                                    break;
                            }
                            var pricePost = timeDisplay * priceUOT;
                        }
                        <input readonly class="form-control" disabled type="text" id="pricePost" value="@pricePost">
                    </div>
                </div>
            </div>
            <div id="image" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @{
                        bool first = true;
                        foreach (var item in Model.listImageRoom)
                        {
                            string imageBase64Data = Convert.ToBase64String(item.image);
                            var srcImage = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
                            <div class="carousel-item @if (first == true){<text>active</text> ; first = false;}">
                                <img class="image-carousel d-block w-100 img-fluid" src="@srcImage" alt="slide">
                            </div>
                        }
                    }

                </div>
                <a class="carousel-control-prev" href="#image" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#image" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </form>
    </div>
</div>

<div class="card-body">
    <h5>Đề nghị gia hạn</h5>
    <form>
        <label for="extend-day">Gia hạn đến ngày:</label>
        <input type="date" id="extend-day">
        <p>Số tiền cần thanh toán: 10000USD</p>
        <button type="submit">Thanh toán</button>
    </form>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/checkedmotel.js"></script>