@{
    ViewData["Title"] = "Client Screen";
    Layout = "_Layout2";
}
@model ClientScreenModel;

<head>
    <style>
        .selectBox {
            position: relative;
        }

            .selectBox select {
                width: 100%;
            }

        .overSelect {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        #checkboxes {
            display: none;
            border: 1px #dadada solid;
        }

            #checkboxes label {
                display: block;
            }

                #checkboxes label:hover {
                    background-color: #1e90ff;
                }
    </style>
</head>

<script>
    var expanded = false;

    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }
</script>

@*<form class="container-fluid row">*@
<input class="form-control" id="publicPlaceAround" type="text" value="" placeholder="Khu vực (gần trường đại học, bệnh viện,...)">
<div class="form-row">
    <select id="province" class="form-control col" asp-for="@Model.objAddress.ID" asp-items="@(new SelectList(Model.objAddress.listProvince,"idProvince","name"))">
        <option value="1">Tỉnh/Thành phố</option>
    </select>
    <select id="district" class="form-control col" asp-for="@Model.objAddress.ID" asp-items="@(new SelectList(Model.objAddress.listDistrict,"idDistrict","name"))">
        <option value="">Huyện/Quận</option>
    </select>
    <select id="ward" class="form-control col" asp-for="@Model.objAddress.ID" asp-items="@(new SelectList(Model.objAddress.listWard,"idWard","name"))">
        <option value="">Xã/Phường/Thị Trấn</option>
    </select>
    <select id="street" class="form-control col" asp-for="@Model.objAddress.ID" asp-items="@(new SelectList(Model.objAddress.listStreet,"idStreet","name"))">
        <option value="">Đường</option>
    </select>
</div>
<div class="form-row">
    <label for="priceMin">Giá thấp nhất</label>
    <input class="form-control col" type="number" id="priceMin" name="priceMin" value="0">
    <label for="priceMax">Giá cao nhất</label>
    <input class="form-control col" type="number" id="priceMax" name="priceMax" value="10000000">
</div>
<div class="form-row">
    <select class="form-control col" id="typeRoom">
        <option selected value="">Loại phòng</option>
        <option value="Phòng trọ">Phòng trọ</option>
        <option value="Chung cư mini">Chung cư mini</option>
        <option value="Nhà nguyên căn">Nhà nguyên căn</option>
        <option value="Chung cư nguyên căn">Chung cư nguyên căn</option>
    </select>
    <select class="form-control col" id="area">
        <option selected value='0,30'>Diện tích</option>
        <option value='0,10'>Nhỏ hơn 10m2</option>
        <option value='10,20'>10-20m2</option>
        <option value='20,30'>20-30m2</option>
        <option value='30,200'>Lớn hơn 30m2</option>
    </select>
    <select class="form-control col" id="bathroom">
        <option selected value="">Phòng tắm</option>
        <option value="Khép kín">Khép kín</option>
        <option value="Chung chủ">Chung chủ</option>
    </select>
    <select class="form-control col" id="heater">
        <option selected value="">Nóng lạnh</option>
        <option value="yes">Có</option>
        <option value="no">Không</option>
    </select>
    <select class="form-control col" id="kitchen">
        <option selected value="">Phòng bếp</option>
        <option value="Khu bếp riêng">Khu bếp riêng</option>
        <option value="Khu bếp chung">Khu bếp chung</option>
        <option value="Không nấu ăn">Không nấu ăn</option>
    </select>
    <select class="form-control col" id="airCondition">
        <option selected value="">Điều hòa</option>
        <option value="yes">Có</option>
        <option value="no">Không</option>
    </select>
    <select class="form-control col" id="balcony">
        <option selected value="">Ban công</option>
        <option value="yes">Có</option>
        <option value="no">Không</option>
    </select>
</div>
@*<div class="col">
        <div class="selectBox" onclick="showCheckboxes()">
            <select>
                <option>Mở rộng</option>
            </select>
            <div class="overSelect"></div>
        </div>
        <div id="checkboxes" style="position:fixed; z-index:10; background:white">
            <label for="ac">
                <input type="checkbox" id="ac" />Điều hòa
            </label>
            <label for="heater">
                <input type="checkbox" id="heater" />Nóng lạnh
            </label>
            <label for="balcony">
                <input type="checkbox" id="balcony" />Ban công
            </label>
        </div>
    </div>*@
<button id="btnSearch" class="btn btn-primary">Tìm kiếm</button>
@*</form>*@

<div class="container">
    <h3>Cho thuê nhà trọ, phòng trọ tại Việt Nam</h3>
    @foreach (var item in Model.listRoomSummary)
    {
        <div class="card m-2">
            <a class="card-block stretched-link text-decoration-none text-dark" asp-controller="Home" asp-action="RoomInfo" asp-route-idRoom="@item.idRoom">
                <div class="row">
                    <div class="product-image"><img src="@item.srcImage" style="height:110px; width:110px" /></div>
                    <div class="col">
                        <div class="product-title">
                            <strong>@item.title</strong>
                        </div>
                        <div class="d-flex">
                            <div class="mr-3 product-price font-weight-bold">@item.price đồng/tháng</div>
                            <div class="mr-3 product-area">@item.area m2</div>
                            <div class="product-location">@item.streetName,@item.wardName,@item.districtName,@item.provinceName</div>
                        </div>
                        <div class="product-content text-muted">@item.description</div>
                        <div class="product-update-time text-muted">@item.numberDayPosted</div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var obj = new ClientScreenJS();


    })

    class ClientScreenJS {
        constructor() {
            this.initEvents();
        }

        initEvents() {
            $('#btnSearch').click(this.btnSearchOnClick.bind(this));
            $('#province').change(this.provinceChange.bind(this));
            $('#district').change(this.districtChange.bind(this));
        }
        provinceChange() {
            var url = '/' + "Home/GetDistrictList";
            $.getJSON(url, { idProvince: $('#province').val() }, function (data) {
                var items = "<option value='0'>Select One</option>";
                $('#district').empty();
                //debugger;
                $.each(data, function (i, districtlist) {
                    items += "<option value='" + districtlist.Value + "'>" + districtlist.Text + "</option>";
                })
                $('#district').html(items);
                //debugger;
            });
        }
        districtChange() {
            var urlWard = '/' + "Home/GetWardList";
            var urlStreet = '/' + "Home/GetStreetList";
            $.getJSON(urlWard, { idDistrict: $('#district').val() }, function (data) {
                var items = '';
                //debugger;
                $('#ward').empty();
                $.each(data, function (i, wardList) {
                    items += "<option value='" + wardList.Value + "'>" + wardList.Text + "</option>";
                })
                $('#ward').html(items);
            });

            $.getJSON(urlStreet, { idDistrict: $('#district').val() }, function (data) {
                var items = '';
                $('#street').empty();
                $.each(data, function (i, streetList) {
                    items += "<option value='" + streetList.Value + "'>" + streetList.Text + "</option>";
                })
                $('#street').html(items);
            });
        }
        btnSearchOnClick() {
            var area = $('#area').val().split(',');
            var objSearchRoom = {}
            objSearchRoom.publicPlaceAround = $('#publicPlaceAround').val();
            objSearchRoom.idProvince = $('#province').val();
            objSearchRoom.idDistrict = $('#district').val();
            objSearchRoom.idWard = $('#ward').val();
            objSearchRoom.idStreet = $('#street').val();
            objSearchRoom.priceMin = $('#priceMin').val();
            objSearchRoom.priceMax = $('#priceMax').val();
            objSearchRoom.typeRoom = $('#typeRoom').val();
            objSearchRoom.areaMin = area[0];
            objSearchRoom.areaMax = area[1];
            objSearchRoom.bathroom = $('#bathroom').val();
            objSearchRoom.heater = $('#heater').val();
            objSearchRoom.kitchen = $('#kitchen').val();
            objSearchRoom.airCondition = $('#airCondition').val();
            objSearchRoom.balcony = $('#balcony').val();
            var content = JSON.stringify(objSearchRoom); // chuyen doi tuong sang json
            //debugger;
            $.ajax({
                url: "/Home/ClientScreen",
                method: "POST",
                data: content,
                contentType: "application/json",
                dataType: "json"
            }).done(function (res) {
                //debugger;
            }).fail(function (res) {
                //debugger;
            })
        }
    }
    function updatePriceInput(val) {
        debugger;
        var str = " " + val + " ";
        $('#textPrice').value = val;
    }
</script>
