@{
    ViewData["Title"] = "Home Page";
}
@model RoomInfoModel;

<div class="container">
    <h3 class="mt-4 mb-4">Cho thuê nhà trọ, phòng trọ tại Việt Nam</h3>
    @foreach (var item in Model.listRoomSummary)
    {
        <div class="card m-3">
            <a class="card-block stretched-link text-decoration-none text-dark" asp-controller="Home" asp-action="RoomInfo" asp-route-idRoom="@item.idRoom">
                <div class="row">
                    <div class="product-image"><img src="@item.srcImage" style="height:110px; width:110px" /></div>
                    <div class="col">
                        <div class="product-title">
                            <strong>@item.title</strong>
                        </div>
                        <div class="d-flex">
                            <div class="mr-3 product-price font-weight-bold">@item.price đồng/tháng</div>
                            <div class="mr-3 product-area">@item.area m2</div>
                            <div class="product-location">@item.streetName,@item.wardName,@item.districtName,@item.provinceName</div>
                        </div>
                        <div class="product-content text-muted">@item.description</div>
                        <div class="product-update-time text-muted">@item.numberDayPosted</div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>