@{
    ViewData["Title"] = "Pending Motel Screen";
    Layout = "_LayoutHost";
}
@model RoomInfoModel;
<h4>Thông tin nhà trọ đang chờ kiểm duyệt</h4>
<div class="card">
    <div class="card-header"><h5>Thông tin</h5></div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="HostScreen">
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col">
                        Tiêu đề
                        <input type="text" value="@Model.objRoom.title" class="form-control" id="title" placeholder="Tiêu đề" readonly>
                    </div>
                </div>
                <p>Địa chỉ</p>
                @*TODO: chuyển sang dạng select với dữ liệu sql province, district, ward, street*@
                <div class="form-row">
                    <div class="form-group col">
                        <label for="province">Tỉnh/Thành</label>
                        <select id="province" class="form-control" asp-for="@Model.address.ID" asp-items="@(new SelectList(Model.address.listProvince,"idProvince","name"))" readonly>
                            <option value="@Model.objRoom.idProvince">@Model.address.province</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="district">Huyện/Quận</label>
                        <select id="district" class="form-control" asp-for="@Model.address.ID" asp-items="@(new SelectList(Model.address.listDistrict,"idDistrict","name"))" readonly>
                            <option value="@Model.objRoom.idDistrict">@Model.address.district</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="ward">Xã/Phường</label>
                        <select id="ward" class="form-control" asp-for="@Model.address.ID" asp-items="@(new SelectList(Model.address.listWard,"idWard","name"))" readonly>
                            <option value="@Model.objRoom.idWard">@Model.address.ward</option>
                        </select>
                    </div>
                </div>
                <div class="form-a row">
                    <div class="form-group col">
                        <label for="street">Đường</label>
                        <select id="street" class="form-control" asp-for="@Model.address.ID" asp-items="@(new SelectList(Model.address.listStreet,"idStreet","name"))" readonly>
                            <option value="@Model.objRoom.idStreet">@Model.address.street</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="homeNo">Số nhà</label>
                        <input type="text" value="@Model.objRoom.homeNo" class="form-control" id="homeNo" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label for="publicPlaceAround">Gần địa điểm công cộng</label>
                    <input type="text" value="@Model.objRoom.publicPlaceAround" class="form-control" id="publicPlaceAround" placeholder="Gần trường học/bệnh viện/..." readonly>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="typeRoom">Kiểu phòng</label>
                        <select class="form-control" id="typeRoom" readonly>
                            <option selected>@Model.objRoom.typeRoom</option>
                            <option>Phòng trọ</option>
                            <option>Chung cư mini</option>
                            <option>Nhà nguyên căn</option>
                            <option>Chung cư nguyên căn</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="roomNo">Số lượng</label>
                        <input type="number" class="form-control" id="roomNo" name="roomNo" min="1" value="@Model.objRoom.roomNo" readonly>
                    </div>
                    <div class="form-group col">
                        <label for="area">Diện tích (m2)</label>
                        <input type="text" class="form-control" id="area" value="@Model.objRoom.area" readonly/>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <label for="price">Giá phòng (đồng)</label>
                        <input type="text" class="form-control" id="price" min="1" value="@Model.objRoom.price" readonly/>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <label for="bathroom">Phòng tắm</label>
                        <select class="form-control" id="bathroom" required readonly>
                            <option selected>@Model.objRoom.bathroom</option>
                            <option>Khép kín</option>
                            <option>Chung chủ</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="heater">Nóng lạnh</label>
                        <select class="form-control" id="heater" required readonly>
                            <option selected>@Model.objRoom.heater</option>
                            <option>Có</option>
                            <option>Không</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="kitchen">Phòng bếp</label>
                        <select class="form-control" id="kitchen" required readonly>
                            <option selected>@Model.objRoom.kitchen</option>
                            <option>Khu bếp riêng</option>
                            <option>Khu bếp chung</option>
                            <option>Không nấu ăn</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="airCondition">Điều hòa</label>
                        <select class="form-control" id="airCondition" required readonly>
                            <option selected>@Model.objRoom.airCondition</option>
                            <option>Có</option>
                            <option>Không</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="balcony">Ban công</label>
                        <select class="form-control" id="balcony" required readonly>
                            <option selected>@Model.objRoom.balcony</option>
                            <option>Có</option>
                            <option>Không</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="electricityPrice">Giá điện</label>
                        <input type="text" value="@Model.objRoom.electricityPrice" class="form-control" id="electricityPrice" placeholder="Giá điện theo (kW/h)" readonly/>
                    </div>
                    <div class="form-group col">
                        <label for="waterPrice">Giá nước</label>
                        <input type="text" value="@Model.objRoom.waterPrice" class="form-control" id="waterPrice" placeholder="Giá nước theo (m3)" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="otherUtility">Tiện ích khác</label>
                    <input type="text" value="@Model.objRoom.otherUtility" class="form-control" id="otherUtility" placeholder="Tủ lạnh/Máy giặt/Giường tủ" />
                </div>
                <div class="form-group">
                    <label for="image">Chọn ít nhất 3 ảnh: </label>
                    <input type="file" id="image" name="files" multiple>
                </div>
                <div class="form-group">
                    <label for="description">Thông tin bổ sung</label>
                    <input type="text" value="@Model.objRoom.description" class="form-control" id="description" placeholder="" readonly/>
                </div>
                <div class="time-post form-row mb-3">
                    <div class="col-5">
                        <label for="timeDisplay">Thời gian hiển thị</label>
                        <input type="number" id="timeDisplay" class="form-control" name="quantity" min="1" max="11" value="@Model.objRoom.timeDisplay" readonly>
                    </div>
                    <div class="col-2">
                        <label for="unitTimeId">Đơn vị</label>
                        <select class="form-control" id="unitTimeId" readonly>
                            @{
                                var unitTime = "";
                                switch (Model.objRoom.unitTimeId)
                                {
                                    case 1:
                                        unitTime = "Ngày";
                                        break;
                                    case 2:
                                        unitTime = "Tuần";
                                        break;
                                    case 3:
                                        unitTime = "Tháng";
                                        break;
                                    case 4:
                                        unitTime = "Năm";
                                        break;
                                }
                            }
                            <option value="@Model.objRoom.unitTimeId" selected>@unitTime</option>
                            <option value="1">Ngày</option>
                            <option value="2">Tuần</option>
                            <option value="3">Tháng</option>
                            <option value="4">Năm</option>
                        </select>
                    </div>
                    <div class="col-5">
                        <label for="pricePost">Giá tiền bài đăng</label>
                        @{
                            var timeDisplay = Model.objRoom.timeDisplay;
                            var unitTimeId = Model.objRoom.unitTimeId;
                            var priceUOT = 1;
                            switch (unitTimeId)
                            {
                                case 1:
                                    priceUOT = 5000;
                                    break;
                                case 2:
                                    priceUOT = 30000;
                                    break;
                                case 3:
                                    priceUOT = 100000;
                                    break;
                                case 4:
                                    priceUOT = 500000;
                                    break;
                            }
                            var pricePost = timeDisplay * priceUOT;
                        }
                        <input class="form-control" disabled type="text" id="pricePost" value="@pricePost" readonly>
                    </div>
                </div>
            </div>
            <button id="btnEdit" class="btn-success" type="submit" onclick="btnEditOnClick('@Model.objRoom.idRoom')">Chỉnh sửa</button>
            <button id="btnCancel" class="btn-danger" type="submit" onclick="btnCancelOnClick('@Model.objRoom.idRoom')">Hủy bài</button>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/editpost.js"></script>
