@using MotelRoom.Entity;
@model RoomSummaryInfo;
<head>
    <style>
        .motel-item-image {
            height:200px;
            width: 100%;
            object-fit:fill;
        }

        .motel-item-title {
            max-width: 100%;
            max-height:25px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @@media screen and (max-width: 900px) {
            .motel-item-info {
                display: none;
            }
        }

        @@media screen and (max-width: 800px) {
            .motel-item {
                min-width: 200px;
            }
            .motel-item-image {
                max-height:150px;
            }
        }
    </style>
</head>
<article class="motel-item border rounded">
    <img class="motel-item-image" src="@Model.srcImage" alt="img">
    <div class="motel-item-content m-2">
        <div class="motel-item-about">
            <div class="motel-item-title"><strong>@Model.title</strong></div>
            <div class="motel-item-address">@Model.districtName, @Model.provinceName</div>
            <p class="motel-item-info row">
                <span class="col">@Model.description</span>
            </p>
        </div>
        <div class="motel-item-detial border-top">
            <span class="price text-muted">
                @Model.price đồng/tháng
            </span>
        </div>
    </div>
</article>
